 @library:react-toolkit= https://git.digitus.me/api/v4/projects/217/packages/npm/
# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
'//git.digitus.me/api/v4/packages/npm/:_authToken'="itfA7PFs22-fLjijZYyZ"
# Add token for uploading to the registry. Replace <your-project-id>
# with the project you want your package to be uploaded to.
'//git.digitus.me/api/v4/projects/217/packages/npm/:_authToken'="itfA7PFs22-fLjijZYyZ"
@library:registry=https://git.digitus.me/api/v4/packages/npm/